<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/admin" class="site_title"><i class="fa fa-cog" id="pageIcon"></i> <span>Admin Panel</span></a>
            </div>

            <div class="clearfix" style="height: 48px"></div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/admin"><i class="fa fa-home"></i> Home</a></li>
                  <li><a href="/admin/hours"><i class="fa fa-clock-o"></i> Modify Hours</a></li>
                  <li><a href="/admin/reservations"><i class="fa fa-calendar"></i> Reservations</a></li>
                  <li><a href="/admin/password"><i class="fa fa-key"></i> Change Password</a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>