<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-cog" id="pageIcon"></i> <span>Admin Panel</span></a>
            </div>

            <div class="clearfix" style="height: 48px"></div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/admin"><i class="fa fa-home"></i> Home</a></li>
                  <li><a><i class="fa fa-magic"></i> Attractions <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/attractions/add">Add</a></li>
                      <li><a href="/admin/attractions/delete">Delete</a></li>
                      <li><a href="/admin/attractions/modify">Modify</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-archive"></i> Packages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/packages/add">Add</a></li>
                      <li><a href="/admin/packages/delete">Delete</a></li>
                      <li><a href="/admin/packages/modify">Modify</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-cutlery"></i> Snack Bar Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/menu/add">Add</a></li>
                      <li><a href="/admin/menu/delete">Delete</a></li>
                      <li><a href="/admin/menu/modify">Modify</a></li>
                    </ul>
                  </li>
                  <li><a href="/admin/hours"><i class="fa fa-clock-o"></i> Modify Hours</a></li>
                  <li><a><i class="fa fa-calendar"></i> Reservations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/admin/reservations/current">Current Reservations</a></li>
                      <li><a href="/admin/reservations/statistics">Statistics</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>