<!-- jQuery -->
    <script src="{{ url_for('static', filename='admin/lib/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='admin/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='admin/lib/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ url_for('static', filename='admin/lib/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ url_for('static', filename='admin/lib/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ url_for('static', filename='admin/lib/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ url_for('static', filename='admin/lib/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ url_for('static', filename='admin/lib/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ url_for('static', filename='admin/lib/Flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ url_for('static', filename='admin/js/flot/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/flot/date.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/flot/curvedLines.js') }}"></script>
    <!-- jVectorMap -->
    <script src="{{ url_for('static', filename='admin/js/maps/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url_for('static', filename='admin/js/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/datepicker/daterangepicker.js') }}"></script>

    <!-- jVectorMap -->
    <script src="{{ url_for('static', filename='admin/js/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/maps/jquery-jvectormap-us-aea-en.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/maps/gdp-data.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='admin/js/custom.js') }}"></script>