<!-- jQuery -->
    <script src="{{ url_for('static', filename='admin/lib/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='admin/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='admin/lib/fastclick/lib/fastclick.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ url_for('static', filename='admin/lib/iCheck/icheck.min.js') }}"></script>
    <!-- switchery -->
    <script src="{{ url_for('static', filename='admin/lib/switchery/dist/switchery.min.js') }}"></script>
    <!-- PNotify -->
    <script src="{{ url_for('static', filename='admin/lib/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/pnotify/dist/pnotify.nonblock.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='admin/js/custom.js') }}"></script>