<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "admin_pages/includes/headerContent.html" %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        {% include "admin_pages/includes/leftNav.html" %}

        {% include "admin_pages/includes/topNav.html" %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Reservations</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <div id='calendar'></div>
                </div>
              </div>
            </div>

            
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        
        <!-- calendar modal -->
        <div id="reservationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Reservation</h4>
              </div>
              <div class="modal-body">
                <table class="table">
                      <thead>
                        <tr>
                          <th>Field</th>
                          <th>Input</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Party name</td>
                          <td id="name"></td>
                        </tr>
                        <tr>
                          <td>Date</td>
                          <td id="reservationDate"></td>
                        </tr>
                          <tr>
                          <td># of people</td>
                          <td id="reservationPeople"></td>
                        </tr>
                          <tr>
                          <td>Package</td>
                          <td id="reservationPackage"></td>
                        </tr>
                        <tr>
                          <td>Phone</td>
                          <td id="reservationPhone"></td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td id="reservationEmail"></td>
                        </tr>
                        <tr>
                          <td>Details</td>
                          <td id="reservationDetails"></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              <div class="modal-footer">
              	<button type="button" class="btn btn-default btn-danger antoclose" style="margin-bottom: 0px" id="deleteEvent" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default btn-primary antoclose" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% include "admin_pages/includes/footer.html" %}

      </div>
    </div>

    {% include "admin_pages/includes/scripts.html" %}
    <script>
        var reservations = [{% for reservation in reservations %}{%if not loop.last%}{id: {{ reservation['id'] }},name: "{{ reservation['name'] | escapejs }}",start: moment("{{ reservation['date'] }}", "YYYY-MM-DD hh:mm:ss").toDate(),people: {{ reservation['people'] }},package: "{{ getPackage(reservation['package']) }}",phone: "{{ reservation['phone'] | escapejs }}",email: "{{ reservation['email'] | escapejs }}",details: "{{ reservation['details'] | escapejs }}",},{% else %}{id: {{ reservation['id'] }},name: "{{ reservation['name'] | escapejs }}",start: moment("{{ reservation['date'] }}", "YYYY-MM-DD hh:mm:ss").toDate(),people: {{ reservation['people'] }},package: "{{ getPackage(reservation['package']) }}",phone: "{{ reservation['phone'] | escapejs }}",email: "{{ reservation['email'] | escapejs }}",details: "{{ reservation['details'] | escapejs }}",}{% endif %}{% endfor %}]
    </script>
    <script src="{{ url_for('static', filename='admin/js/reservations.js') }}"></script>
  </body>
</html>