<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "admin_pages/includes/headerContent.html" %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        {% include "admin_pages/includes/leftNav.html" %}

        {% include "admin_pages/includes/topNav.html" %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Modify settings</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <table class="table" id="formHolder">
                      <thead>
                        <tr>
                            <th>Setting</th>
                            <th>Input</th>
                            <th>Update</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>Admin password</th>
                          <th>
                            <div class="form-group">
                              <input type="password" class="form-control" id="password" value="" autocomplete="new-password" />
                            </div>
                          </th>
                          <th>
                            <button class="btn btn-primary" id="passwordButton">Update</button>
                          </th>
                        </tr>
                        <tr>
                          <th>Maximum guests booked</th>
                          <th>
                            <div class="form-group">
                              <input type="number" class="form-control" id="people" value="{{ people }}" />
                            </div>
                          </th>
                          <th>
                            <button class="btn btn-primary" id="peopleButton">Update</button>
                          </th>
                        </tr>
                        <tr>
                          <th>Phone number</th>
                          <th>
                            <div class="form-group">
                              <input type="phone" class="form-control" id="phone" value="{{ phone }}" />
                            </div>
                          </th>
                          <th>
                            <button class="btn btn-primary" id="phoneButton">Update</button>
                          </th>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <th>
                            <div class="form-group">
                              <input type="text" class="form-control" id="email" value="{{ email }}" />
                            </div>
                          </th>
                          <th>
                            <button class="btn btn-primary" id="emailButton">Update</button>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>

            
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        {% include "admin_pages/includes/footer.html" %}

      </div>
    </div>

    {% include "admin_pages/includes/scripts.html" %}
    <script src="{{ url_for('static', filename='admin/js/settings.js') }}"></script>
  </body>
</html>