<footer class="bg-primary text-center">
   <div class="container">
      <!-- Inline List -->
      <ul class="inline-list">
         <li><a href="https://twitter.com/FiveStarsCenter" class="icon icon-lg icon-secondary-2 fa-twitter"></a></li>
         <li><a href="https://www.facebook.com/fivestarsfamilyentertainmentcenter/" class="icon icon-lg icon-secondary-2 fa-facebook"></a></li>
         <li><a href="https://plus.google.com/u/0/104212875687386421631" class="icon icon-lg icon-secondary-2 fa-google-plus"></a></li>
         <li><a href="https://www.instagram.com/fivestarsentertainmentcenter/" class="icon icon-lg icon-secondary-2 fa-instagram"></a></li>
      </ul>
      <!-- END Inline List -->
      <div class="offset-2">
         <a href="./">5 Stars</a>
         &copy; <span id="copyright-year">{{ None|currentYear }}</span> |
         <a href="http://chhs.chccs.k12.nc.us/">Chapel Hill High School</a>
      </div>
      This website is not for a real business. This website is a competitor in FBLA Webdesign 2017.
   </div>
</footer>