<footer class="bg-primary text-center">
   <div class="container">
      <!-- Inline List -->
      <ul class="inline-list">
         <li><a href="#" class="icon icon-lg icon-secondary-2 fa-twitter"></a></li>
         <li><a href="#" class="icon icon-lg icon-secondary-2 fa-facebook"></a></li>
         <li><a href="#" class="icon icon-lg icon-secondary-2 fa-google-plus"></a></li>
         <li><a href="#" class="icon icon-lg icon-secondary-2 fa-instagram"></a></li>
      </ul>
      <!-- END Inline List -->
      <div class="offset-2">
         <a href="./">Vanilla</a>
         &copy; <span id="copyright-year">{{ None|currentYear }}</span> |
         <a href="index-5.html">Privacy Policy</a>
      </div>
      More Amusement Park Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/amusement-park-website-templates/" target="_blank">TemplateMonster.com</a>
   </div>
</footer>