<title>5 Stars - {{ page.title() }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no"/>
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='public/favicon/apple-touch-icon-180x180.png') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon/favicon-32x32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon/android-chrome-192x192.png') }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon/favicon-16x16.png') }}" sizes="16x16">
<link rel="manifest" href="{{ url_for('static', filename='public/favicon/manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='public/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ url_for('static', filename='public/favicon/favicon.ico') }}">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='public/favicon/mstile-144x144.png') }}">
<meta name="msapplication-config" content="{{ url_for('static', filename='public/favicon/browserconfig.xml') }}">
<meta name="theme-color" content="#ffffff">
<link href='{{ url_for("static", filename="public/css/lib/font-awesome.css") }}' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Playball%7CComfortaa:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for("static", filename="public/css/lib/grid.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="public/css/style.css") }}">
<script src="{{ url_for("static", filename="public/js/lib/jquery.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery-migrate-1.2.1.js") }}"></script> 
<!--[if lt IE 9]> 
<html class="lt-ie9">
   <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="{{ url_for("static", filename="public/images/ie8-panel/warning_bar_0000_us.jpg") }}" border="0" height="42" width="820"
         alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
      </a>
   </div>
   <script src="{{ url_for("static", filename="public/js/lib/html5shiv.js") }}"></script>
<![endif]-->
<script src='{{ url_for("static", filename="public/js/lib/device.min.js") }}'></script>