{% set nav = [
		('home', '/'),
		('food', '/food'),
		('attractions', '/attractions'),
		('Reservations', '/reservations'),
		('contact Us', '/contact')
] -%}
{% set page = page|default('home') -%}
		<!-- Stuck Container -->
		<div id="stuck_container" class="stuck_container" role="navigation">
			<div class="container">
				<!-- Menu	-->
				<nav class="nav" role="menubar" aria-label="Main Menu">
					<ul class="sf-menu" data-type="navbar" role="menu">
						<li role="menuitem" {% if page == "home" %}class="active"{% endif %}><a href="/">Home</a></li>
						<li role="menuitem" {% if page == "food" %}class="active"{% endif %}><a href="/food">Food</a></li>
						<li role="menuitem" {% if page == "attractions" %}class="active"{% endif %}><a href="/attractions">Attractions</a></li>
						<li role="menuitem" {% if page == "reservations" %}class="active"{% endif %}><a href="/reservations">Reservations</a></li>
						<li role="menuitem" {% if page == "contact us" %}class="active"{% endif %}><a href="/contact">Contact Us</a></li>
					</ul>
				</nav>
				<!-- END Menu -->
			</div>
		</div>
		<!-- END Stuck Container -->