
{% set nav = [
    ('home', '/'),
    ('food', '/food'),
    ('attractions', '/attractions'),
    ('Reservations', '/reservations'),
    ('contact Us', '/contact')
] -%}

{% set page = page|default('home') -%}

<!-- Stuck Container -->
<div id="stuck_container" class="stuck_container">
   <div class="container">
      <!-- Menu  -->
      <nav class="nav">
         <ul class="sf-menu" data-type="navbar">
            {% for name, href in nav %}
             {% if page == name %}
             <li class="active"><a href="{{ href }}">{{ name.title() }}</a></li>
             {% else %}
             <li><a href="{{ href }}">{{ name.title() }}</a></li>
             {% endif %}
             {% endfor %}
         </ul>
      </nav>
      <!-- END Menu -->
   </div>
</div>
<!-- END Stuck Container -->