<!-- Stuck Container -->
<div id="stuck_container" class="stuck_container">
   <div class="container">
      <!-- Menu  -->
      <nav class="nav">
         <ul class="sf-menu" data-type="navbar">
            <li class="active"><a href='/'>Home</a></li>
            <li>
               <a href='javaScript:void(0);'>Attractions</a>
               <ul>
                  <li><a href="/rides">Rides</a></li>
                  <li><a href="/snackbar">Snack Bar</a></li>
               </ul>
            </li>
            <li><a href='/reservations'>Reservations</a></li>
            <li><a href='/contact'>Contact us</a></li>
         </ul>
      </nav>
      <!-- END Menu -->
   </div>
</div>
<!-- END Stuck Container -->