<script src="/static/public/js/lib/jquery.cookie.js"></script>
<script src="/static/public/js/lib/jquery.easing.1.3.js"></script>
<script src="/static/public/js/lib/superfish.js"></script>
<script src="/static/public/js/lib/jquery.rd-navbar.js"></script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyAqrT5A7y9IajXTIqdr3UZltNKcs4-3PTA"></script>
<script src="/static/public/js/lib/jquery.rd-google-map.js"></script>
<script src="/static/public/js/lib/jquery.mobile.customized.min.js"></script>
<script src="/static/public/js/lib/camera.js"></script>
<script src="/static/public/js/lib/jquery.rd-parallax.js"></script>
<script src="/static/public/js/lib/jquery.plugin.min.js"></script>
<script src="/static/public/js/lib/jquery.countdown.min.js"></script>
<script src="/static/public/js/plugins.js"></script>