<script src="{{ url_for("static", filename="public/js/lib/jquery.cookie.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.easing.1.3.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/superfish.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.rd-navbar.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.mobile.customized.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/camera.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.rd-parallax.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.plugin.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/lib/jquery.countdown.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/plugins.js") }}"></script>