<script src="{{ url_for("static", filename="public/lib/jquery.cookie/jquery.cookie.js") }}"></script>
<script src="{{ url_for("static", filename="public/lib/jquery.easing/js/jquery.easing.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/lib/superfish/dist/js/superfish.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/jquery.rd-navbar.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/camera.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/jquery.rd-parallax.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/jquery.plugin.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/jquery.countdown.min.js") }}"></script>
<script src="{{ url_for("static", filename="public/js/plugins.js") }}"></script>