@charset "UTF-8";
/*
* @section Main Styles
*/
body {
  color: #000;
  font-family: 'Aladin', cursive;
  -webkit-text-size-adjust: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
img.circle {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

/*
* @subsection Typography
*/
h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  color: #000;
}

h1, .heading-1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
  color: #fff;
}
@media (min-width: 480px) {
  h1, .heading-1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  h1, .heading-1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  h1, .heading-1 {
    font-size: 70px;
  }
}

h2, .heading-2 {
  font-size: 50px;
  line-height: 1;
  color: #3e3e3e;
}
@media (min-width: 768px) {
  h2, .heading-2 {
    font-size: 56px;
  }
}

h3, .heading-3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #3e3e3e;
}
@media (min-width: 768px) {
  h3, .heading-3 {
    font-size: 36px;
  }
}

h4, .heading-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: #3e3e3e;
}
h4 a:hover, .heading-4 a:hover {
  color: #F45935;
}

h5, .heading-5 {
  font-size: 20px;
  line-height: 1;
}

h6, .heading-6 {
  font-size: 18px;
  line-height: 30px;
  color: #FFDE72;
}

p {
  color: #3e3e3e;
  line-height: 1;
  font-size: 14px;
  line-height: 24px;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: #FFDE72;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}
a[href^="tel:"], a[href^="callto:"] {
  color: #F45935;
  text-decoration: none;
}
a[href^="mailto:"] {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: #FFDE72;
}
a[href^="mailto:"]:hover {
  color: #F45935;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

/*
* @subsection Text Styling
*/
.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.upper {
  text-transform: uppercase;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.sbold {
  font-weight: 600;
}

.bold, strong {
  font-weight: 700;
}

.bolder {
  font-weight: 800;
}

.ubold {
  font-weight: 900;
}

/*
* @section Type System
*/
/*
* @subsection Alignment
*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (min-width: 480px) {
  .text-xs-left {
    text-align: left;
  }

  .text-xs-center {
    text-align: center;
  }

  .text-xs-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}
/*
* @subsection Floating
*/
.pull-left {
  float: left;
}

.pull-none {
  float: none;
}

.pull-right {
  float: right;
}

@media (min-width: 480px) {
  .text-xs-left {
    text-align: left;
  }

  .text-xs-center {
    text-align: center;
  }

  .text-xs-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}
/*
* @section MainLayout
*/
* + h4 {
  margin-top: 10px;
}

* + form {
  margin-top: 64px;
}

* + a[href^="mailto:"] {
  margin-top: 55px;
}

img + h3 {
  margin-top: 39px;
}

h3 + p {
  margin-top: 21px;
}

h4 + p {
  margin-top: 21px;
}

h2 + h6 {
  margin-top: 20px;
}

img + h4 {
  margin-top: 15px;
}

h4 + h6 {
  margin-top: 7px;
}

h6 + p {
  margin-top: 18px;
}

h2 + img {
  margin-top: 63px;
}

* + .btn {
  margin-top: 39px;
}

* + .video {
  margin-top: 53px;
}

* + .box {
  margin-top: 42px;
}

* + .marked-list {
  margin-top: 24px;
}

* + .is-countdown {
  margin-top: 32px;
}

.box + .box {
  margin-top: 51px;
}

.marked-list + .btn {
  margin-top: 34px;
}

@media (min-width: 768px) {
  img + h4 {
    margin-top: 38px;
  }
}
/*
* @subsection Offsets
*/
* + .offset-1 {
  margin-top: 68px;
}

* + .offset-2 {
  margin-top: 46px;
}

* + .offset-3 {
  margin-top: 58px;
}

* + .offset-4 {
  margin-top: 63px;
}

/*
* @subsection Flow-Offsets
*/
.flow-offset-1 > * + * {
  margin-top: 80px;
}
@media (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-xs-1:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-2:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-3:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-4:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-5:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-6:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-7:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-8:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-9:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-10:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-11:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-xs-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-xs-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-1 > .col-xs-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-1 > .col-xs-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-1 > .col-xs-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-1 > .col-xs-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-1 > .col-xs-12:nth-child(n + 2) {
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-sm-1:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-2:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-3:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-4:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-5:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-6:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-7:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-8:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-9:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-10:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-11:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-sm-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-sm-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-1 > .col-sm-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-1 > .col-sm-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-1 > .col-sm-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-1 > .col-sm-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-1 > .col-sm-12:nth-child(n + 2) {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-md-1:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-2:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-3:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-4:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-5:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-6:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-7:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-8:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-9:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-10:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-11:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-md-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-md-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-1 > .col-md-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-1 > .col-md-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-1 > .col-md-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-1 > .col-md-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-1 > .col-md-12:nth-child(n + 2) {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-lg-1:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-2:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-3:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-4:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-5:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-6:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-7:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-8:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-9:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-10:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-11:nth-child(n), html:not(.lt-ie10) .flow-offset-1 > .col-lg-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-1 > .col-lg-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-1 > .col-lg-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-1 > .col-lg-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-1 > .col-lg-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-1 > .col-lg-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-1 > .col-lg-12:nth-child(n + 2) {
    margin-top: 80px;
  }
}

.flow-offset-2 > * + * {
  margin-top: 60px;
}
@media (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-xs-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-xs-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-xs-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-xs-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-xs-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-xs-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-xs-12:nth-child(n + 2) {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-sm-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-sm-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-sm-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-sm-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-sm-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-sm-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-sm-12:nth-child(n + 2) {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-md-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-md-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-md-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-md-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-md-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-md-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-md-12:nth-child(n + 2) {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-lg-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-lg-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-lg-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-lg-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-lg-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-lg-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-lg-12:nth-child(n + 2) {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .flow-offset-2 > * + * {
    margin-top: 42px;
  }
}
@media (min-width: 768px) and (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-xs-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-xs-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 480px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-xs-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-xs-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-xs-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-xs-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-xs-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-xs-12:nth-child(n + 2) {
    margin-top: 42px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-sm-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-sm-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-sm-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-sm-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-sm-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-sm-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-sm-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-sm-12:nth-child(n + 2) {
    margin-top: 42px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-md-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-md-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-md-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-md-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-md-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-md-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-md-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-md-12:nth-child(n + 2) {
    margin-top: 42px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-lg-1:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-2:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-3:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-4:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-5:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-6:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-7:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-8:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-9:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-10:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-11:nth-child(n), html:not(.lt-ie10) .flow-offset-2 > .col-lg-12:nth-child(n) {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  html:not(.lt-ie10) .flow-offset-2 > .col-lg-1:nth-child(n + 13), html:not(.lt-ie10) .flow-offset-2 > .col-lg-2:nth-child(n + 7), html:not(.lt-ie10) .flow-offset-2 > .col-lg-3:nth-child(n + 5), html:not(.lt-ie10) .flow-offset-2 > .col-lg-4:nth-child(n + 4), html:not(.lt-ie10) .flow-offset-2 > .col-lg-6:nth-child(n + 3), html:not(.lt-ie10) .flow-offset-2 > .col-lg-12:nth-child(n + 2) {
    margin-top: 42px;
  }
}

/*
* @subsection Wells
*/
.well-sm, .well-md, .well-lg {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .well-sm, .well-md, .well-lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .well-sm {
    padding-top: 123px;
    padding-bottom: 120px;
  }

  .well-md {
    padding-top: 146px;
    padding-bottom: 140px;
  }
  .well-md--inset-1 {
    padding-top: 99px;
  }
  .well-md--inset-2 {
    padding-top: 134px;
  }
  .well-md--inset-3 {
    padding-bottom: 121px;
  }

  .well-lg {
    padding-top: 278px;
    padding-bottom: 291px;
  }
}
/*
* @section Helpers
*/
.bg-primary, .bg-secondary-1 {
  color: #fff;
}
.bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4, .bg-primary h5, .bg-primary h6, .bg-primary p, .bg-secondary-1 h1, .bg-secondary-1 h2, .bg-secondary-1 h3, .bg-secondary-1 h4, .bg-secondary-1 h5, .bg-secondary-1 h6, .bg-secondary-1 p {
  color: #fff;
}
.bg-primary a, .bg-secondary-1 a {
  color: #fff;
}
.bg-primary a:hover, .bg-secondary-1 a:hover {
  color: #2BA9B4;
}
.bg-primary .btn-primary, .bg-secondary-1 .btn-primary {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.bg-primary .btn-primary:before, .bg-secondary-1 .btn-primary:before {
  background: #2BA9B4;
}
.bg-primary .btn-primary:hover, .bg-secondary-1 .btn-primary:hover {
  color: #000;
  border: 2px solid #2BA9B4;
}
.bg-primary .btn-primary:active, .bg-secondary-1 .btn-primary:active {
  color: #000;
}

.bg-secondary-1 h3 {
  color: #2BA9B4;
}
.bg-secondary-1 h4 {
  line-height: 30px;
}
.bg-secondary-1 h4 + p {
  margin-top: 33px;
}
.bg-secondary-1 * + h3 {
  margin-top: 50px;
}
.bg-secondary-1 h2 + h4 {
  margin-top: 56px;
}
.bg-secondary-1 a {
  color: #3e3e3e;
  text-decoration: underline;
}
.bg-secondary-1 .btn {
  text-decoration: none;
}

.primary {
  color: #F45935;
}

.secondary-1 {
  color: #FFDE72;
}

.secondary-2 {
  color: #2BA9B4;
}

/*
* @section Components
*/
/*
* @subsection Brand
*/
.brand {
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 470px;
  height: 233px;
  z-index: 2;
  border-radius: 0 0 233px 233px;
  overflow: hidden;
  -moz-transform: translateX(-50%) scale(0.5);
  -ms-transform: translateX(-50%) scale(0.5);
  -o-transform: translateX(-50%) scale(0.5);
  -webkit-transform: translateX(-50%) scale(0.5);
  transform: translateX(-50%) scale(0.5);
  -moz-transform-origin: 50% 0% 0px;
  -ms-transform-origin: 50% 0% 0px;
  -o-transform-origin: 50% 0% 0px;
  -webkit-transform-origin: 50% 0% 0px;
  transform-origin: 50% 0% 0px;
}
.brand_name {
  position: relative;
  display: block;
  z-index: 2;
  margin-top: 27px;
  font-family: 'Aladin', cursive;
  font-size: 110px;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  color: #fff;
}
.brand_name:hover {
  color: #fff !important;
}
.brand_slogan {
  position: relative;
  display: block;
  z-index: 2;
  margin-top: -14px;
  font-family: 'Aladin', cursive;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
  color: #fff;
}
.brand:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: -101.6%;
  width: 470px;
  height: 470px;
  background: url(../images/logo.png) bottom;
  border-radius: 50%;
  border: 12px solid #F45935;
}
@media (min-width: 768px) {
  .brand {
    -moz-transform: translateX(-50%) scale(0.6);
    -ms-transform: translateX(-50%) scale(0.6);
    -o-transform: translateX(-50%) scale(0.6);
    -webkit-transform: translateX(-50%) scale(0.6);
    transform: translateX(-50%) scale(0.6);
  }
}
@media (min-width: 1920px) {
  .brand {
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}

/*
* @subsection Backgrounds
*/
.bg-primary {
  background: #F45935;
}

.bg-secondary-1 {
  background: #FFDE72;
}

.bg-secondary-2 {
  background: #2BA9B4;
}

.bg-image-1 {
  background: url(../images/bg-image-1.jpg);
  background-size: cover;
  width: auto;
  min-height: 300px;
  padding-bottom: 16.48%;
}

/*
* @subsection Icons
*/
.icon {
  display: inline-block;
  text-align: center;
}
.icon-md {
  line-height: 50px;
  font-size: 50px;
}
.icon-lg {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
@media (min-width: 480px) {
  .icon-lg {
    width: 95px;
    height: 95px;
    line-height: 95px;
    font-size: 36px;
  }
}
.icon-secondary {
  color: #2BA9B4;
}
.icon-secondary[href]:hover {
  color: #FFDE72;
}
.icon-secondary-2 {
  color: #fff;
  background: #2BA9B4;
  border-radius: 50%;
}
.icon-secondary-2[href]:hover {
  background: #FFDE72;
  color: #F45935;
}

/*
* @subsection Buttons
*/
.btn {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  transition: .4s;
  font-weight: 700;
}
.btn-primary {
  position: relative;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #3e3e3e;
  border: 2px solid rgba(62, 62, 62, 0.5);
  border-radius: 0px;
}
.btn-primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #F45935;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/*
.btn-primary:hover {
  color: #fff;
  border: 2px solid #F45935;
}
.btn-primary:hover:before {
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.btn-primary:active {
  color: #fff;
}
.btn-primary:hover, .btn-primary:active {
  box-shadow: none;
}
*/

/* BACKGROUND TRANSITIONS */
/* Fade */
.btn-primary {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border: 2px solid #F45935;
  background-color: #F45935;
  color: #fff;
}

.btn-md {
  font-size: 16px;
  width: 124px;
  padding: 18px 0;
}
.btn-lg {
  font-size: 16px;
  width: 144px;
  padding: 18px 0;
}
.btn-xl {
  font-size: 16px;
  width: 204px;
  padding: 18px 0;
}

/*
* @subsection Box
*/
.box .box__middle, .box-xs .box__middle, .box-sm .box__middle, .box-md .box__middle, .box-lg .box__middle {
  vertical-align: middle;
}
.box .box__bottom, .box-xs .box__bottom, .box-sm .box__bottom, .box-md .box__bottom, .box-lg .box__bottom {
  vertical-align: bottom;
}

.box .box_left img, .box .box_right img {
  max-width: 100%;
}
.box .box_left, .box .box_right, .box .box_cnt {
  padding: 0;
  display: table-cell;
  vertical-align: top;
}
.box .box_left {
  padding-right: 27px;
}
.box .box_right {
  padding-left: 27px;
}

.box-clear .box_left img, .box-clear .box_right img {
  max-width: 100%;
}
.box-clear .box_left, .box-clear .box_right, .box-clear .box_cnt {
  padding: 0;
  display: block;
}
.box-clear .box_left {
  padding-bottom: 27px;
}
.box-clear .box_right {
  padding-top: 27px;
}

@media (min-width: 480px) {
  .box-xs .box_left img, .box-xs .box_right img {
    max-width: none;
  }
  .box-xs .box_left, .box-xs .box_right, .box-xs .box_cnt {
    padding: 0;
    display: table-cell;
    vertical-align: top;
  }
  .box-xs .box_left {
    padding-right: 27px;
  }
  .box-xs .box_right {
    padding-left: 27px;
  }

  .box-xs-clear .box_left img, .box-xs-clear .box_right img {
    max-width: 100%;
  }
  .box-xs-clear .box_left, .box-xs-clear .box_right, .box-xs-clear .box_cnt {
    padding: 0;
    display: block;
  }
  .box-xs-clear .box_left {
    padding-bottom: 27px;
  }
  .box-xs-clear .box_right {
    padding-top: 27px;
  }
}
@media (min-width: 768px) {
  .box-sm .box_left img, .box-sm .box_right img {
    max-width: none;
  }
  .box-sm .box_left, .box-sm .box_right, .box-sm .box_cnt {
    padding: 0;
    display: table-cell;
    vertical-align: top;
  }
  .box-sm .box_left {
    padding-right: 27px;
  }
  .box-sm .box_right {
    padding-left: 27px;
  }

  .box-sm-clear .box_left img, .box-sm-clear .box_right img {
    max-width: 100%;
  }
  .box-sm-clear .box_left, .box-sm-clear .box_right, .box-sm-clear .box_cnt {
    padding: 0;
    display: block;
  }
  .box-sm-clear .box_left {
    padding-bottom: 27px;
  }
  .box-sm-clear .box_right {
    padding-top: 27px;
  }
}
@media (min-width: 992px) {
  .box-md .box_left img, .box-md .box_right img {
    max-width: none;
  }
  .box-md .box_left, .box-md .box_right, .box-md .box_cnt {
    padding: 0;
    display: table-cell;
    vertical-align: top;
  }
  .box-md .box_left {
    padding-right: 27px;
  }
  .box-md .box_right {
    padding-left: 27px;
  }

  .box-md-clear .box_left img, .box-md-clear .box_right img {
    max-width: 100%;
  }
  .box-md-clear .box_left, .box-md-clear .box_right, .box-md-clear .box_cnt {
    padding: 0;
    display: block;
  }
  .box-md-clear .box_left {
    padding-bottom: 27px;
  }
  .box-md-clear .box_right {
    padding-top: 27px;
  }
}
@media (min-width: 1200px) {
  .box-lg .box_left img, .box-lg .box_right img {
    max-width: none;
  }
  .box-lg .box_left, .box-lg .box_right, .box-lg .box_cnt {
    padding: 0;
    display: table-cell;
    vertical-align: top;
  }
  .box-lg .box_left {
    padding-right: 27px;
  }
  .box-lg .box_right {
    padding-left: 27px;
  }

  .box-lg-clear .box_left img, .box-lg-clear .box_right img {
    max-width: 100%;
  }
  .box-lg-clear .box_left, .box-lg-clear .box_right, .box-lg-clear .box_cnt {
    padding: 0;
    display: block;
  }
  .box-lg-clear .box_left {
    padding-bottom: 27px;
  }
  .box-lg-clear .box_right {
    padding-top: 27px;
  }
}
.box--mod-1 .box_left {
  min-width: 65px;
  padding-right: 15px;
  text-align: center;
}
.box--mod-1 .box_cnt {
  padding-top: 14px;
}
@media (min-width: 992px) {
  .box--mod-1 .box_left {
    min-width: 0;
    text-align: left;
  }
}

/*
* @subsection Video
*/
.video {
  position: relative;
  padding-bottom: 43.15%;
}
.video > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
* @subsection Event post
*/
.event-post .meta {
  font-weight: 800;
  text-transform: uppercase;
  color: #2BA9B4;
}
.event-post .meta span {
  margin-right: 10px;
  font-size: 50px;
  vertical-align: baseline;
}

/*
* @subsection Inline list
*/
.inline-list {
  font-size: 0;
}
.inline-list > li {
  display: inline-block;
}
.inline-list > li a {
  position: relative;
  transition: .4s;
}
.inline-list * + li {
  margin-left: 15px;
}

/*
* @subsection Marked list
*/
.marked-list > li {
  position: relative;
  list-style: none;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 800;
}
.marked-list > li + li {
  margin-top: 20px;
}
.marked-list > li a {
  color: #fff;
  text-decoration: none;
}
.marked-list > li a:hover {
  color: #2BA9B4;
}
.marked-list > li:before {
  position: absolute;
  top: 4px;
  left: 0;
  font-family: "FontAwesome";
  font-size: 9px;
  color: #fff;
  content: "";
}

/*
* @subsection Contact info
*/
.contact-info dl {
  margin-top: 13px;
}
.contact-info dl dt {
  display: block;
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
}
.contact-info dl dd {
  display: block;
  font-size: 14px;
  line-height: 24px;
}
.contact-info dl * + dd {
  margin-top: 11px;
}
.contact-info dl + dl {
  margin-top: 0px;
}
.contact-info a[href^="mailto:"] {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.contact-info a[href^="mailto:"]:hover {
  color: inherit;
  text-decoration: underline;
}

/*
* @subsection Privacy policy
*/
.terms-list dd {
  font-size: 14px;
  line-height: 1.5;
  color: #3e3e3e;
}
.terms-list * + dt {
  margin-top: 42px;
}
.terms-list * + dd {
  margin-top: 21px;
}

/**
* @subsection Superfish
*
* @description Superfish is an enhanced Suckerfish-style menu jQuery plugin.
*
* @author     Joel Birch
* @link http://users.tpg.com.au/j_birch/plugins/superfish/
* @license MIT license - http://opensource.org/licenses/MIT
*/
.sf-menu {
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
  font-size: 20px;
  padding: 0 28px;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  color: #959393;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #3e3e3e;
}
.sf-menu > li.active > a {
  color: #3e3e3e;
}
.sf-menu > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 3px;
  display: block;
  width: 1px;
  background: #959393;
}
.sf-menu > li:first-child:before {
  display: none;
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 41px;
  left: 20%;
  width: 190px;
  padding: 29px 0 27px 28px;
  background: #3e3e3e;
  z-index: 2;
  text-align: left;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  font-size: 22px;
  line-height: 40px;
  color: #959393;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #fff;
}

.sf-menu ul ul {
  position: absolute;
  top: -29px;
  left: 100.7%;
  width: 200px;
  z-index: 4;
}

.sf-menu ul ul > li > a {
  color: #959393;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #fff;
}

.sf-menu > li > .sf-with-ul {
  position: relative;
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
@media (min-width: 992px) {
  .sf-menu > li {
    font-size: 36px;
    padding: 0 37px;
  }
}
@media (max-width: 992px) {
  .sf-menu > li {
    font-size: 28px;
  }
}
/**
* @subsection   RD Mobile Menu
*
* @description  mobile navbar
*
* @author       Evgeniy Gusarov (Diversant)
* @link         http://cms.devoffice.com/diversant/rd-navbar/
*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #F45935;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999999;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/**
* @subsection   Stuck menu   
*/
.stuck_container {
  position: relative;
  height: 95px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .stuck_container {
    height: 138px;
  }
}

.isStuck {
  background: #fff;
  z-index: 999;
  height: 65px;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .stuck_container {
    display: none;
  }
}
/**
* @subsection   ToTop   
*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #F45935;
  background: white;
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 40px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:focus {
  color: #fff;
  background: #F45935;
}
.toTop:hover {
  color: #F45935;
  text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
  display: none !important;
}

/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

/*
* @section Header
*/
header {
  text-align: center;
}
header section:first-child {
  height: 27px;
}
header .nav {
  display: inline-block;
  margin-top: 35px;
}
@media (min-width: 992px) {
  header .nav {
    margin-top: 55px;
  }
}
header .isStuck .nav {
  margin-top: 20px;
}

/*
* @section Content
*/
main {
  display: block;
}
main br.hided {
  display: none;
}
@media (min-width: 1200px) {
  main br.hided {
    display: inline;
  }
}
main .image-wrap {
  max-height: 300px;
  overflow: hidden;
}
main .image-wrap img {
  margin-top: -24%;
}
@media (min-width: 480px) {
  main .image-wrap img {
    margin-top: -34%;
  }
}
@media (min-width: 992px) {
  main .image-wrap img {
    margin-top: -24%;
  }
}
@media (min-width: 1200px) {
  main .image-wrap {
    max-height: 100%;
  }
  main .image-wrap img {
    margin-top: auto;
  }
}

/*
* @section Footer
*/
footer {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #aaaaaa;
}
footer a[href="./"]:hover {
  color: inherit;
}
@media (min-width: 480px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  footer {
    padding-top: 113px;
    padding-bottom: 95px;
  }
}

/*
personal styles
*/
img.square {
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.menu-item-title {
  text-align: left;
  text-decoration: underline;
  margin-top: .8em;
  margin-bottom: -.5em;
}

ul li div {
  border-bottom: 2px dotted white;
}

.bg-secondary-1 ul li div {
  border-bottom: 2px dotted #3e3e3e;
}

ul li div h6 {
  display: inline;
}

ul li h6.price {
  float: right;
}

ul li h6.price:before {
  content: "$";
}

.hours .time {
    float: right;
    display: inline;
}

.hours * {
    color: #3e3e3e;
}

.black {
  color: black;
}

p {
  font-size: 18px;
}

#camera * {
  font-family: 'Satisfy', cursive;
}

.white {
  color: white;
}

.package-pricing {
  margin-top: 0px !important;
}

.grey-color {
  color: #3e3e3e;
}

.quick-message {
  margin-top: 50px;
}

.top-brand {
  height: 105px !important;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 10px #db5030;
  z-index: 1000 !important;
  margin-bottom: 10px;
}

.top-brand h1 {
  padding: 10px;
  font-family: 'Merienda One', cursive;
}

@media (min-width: 510px) {
  .top-brand h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .top-brand h1 {
    font-size: 37px;
  }
}
@media (min-width: 992px) {
  .top-brand h1 {
    font-size: 50px;
  }
}
@media (max-width: 510px) {
  .top-brand h1 {
    font-size: 30px;
  }
}
@media (max-width: 410px) {
  .top-brand h1 {
    font-size: 28px;
  }
}
@media (max-width: 370px) {
  .top-brand h1 {
    font-size: 25px;
  }
}
@media (max-width: 350px) {
  .top-brand h1 {
    font-size: 23px;
  }
}

.bg-primary {

}

.bg-secondary-1 h2, .bg-secondary-1 h5, .bg-secondary-1 li *, .bg-secondary-1 ul li, .bg-secondary-1 p, .bg-secondary-1 h4 {
  color: #3e3e3e !important;
}

.bg-secondary-2 h2, .bg-secondary-2 h6 {
    color: white;
}

.meta * , .meta {
  color: #FFDE72 !important;
}

.bg-secondary-1 .marked-list > li:before {
  color: #3e3e3e;
}

.bg-secondary-2.packages-holder h2, .bg-secondary-2.packages-holder h3, .bg-secondary-2.packages-holder p, .bg-secondary-2.packages-holder .marked-list > li:before, .bg-secondary-2.packages-holder li, .bg-secondary-2.packages-holder h6 {
  color: #3e3e3e !important;
}

.submit-button {
  font-family: 'Aladin', cursive;
}

.contact-info {
  color: #3e3e3e;
}

@media (min-width: 992px) {
  .sf-menu {
    margin-top: -5px;
  }
}

.bg-image-carousel {
  height: 36.48vw;
  width: 100%;
  min-height: 300px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.slick-prev {
    left: 10% !important;
    z-index: 9999;
}
.slick-next {
    right: 10% !important;
    z-index: 9999;
}

.slick-next::before, .slick-prev::before {
	color: #F45935 !important;
	font-size: 30px !important;
}

@media (min-width: 992px) {
	.slick-next::before, .slick-prev::before {
		font-size: 40px !important;
	}
}

@media (min-width: 1250px) {
	.slick-next::before, .slick-prev::before {
		font-size: 50px !important;
	}
}

.buttonHolder {
    margin-bottom: 10px;
}

input, select, textarea, button{
    font-family: 'Aladin', cursive !important;
}

.orderPrice {
    margin-top: 10px;
}

.error-text {
    color: red;
    display: none;
}