<!DOCTYPE html>
<html lang="en">
<head>
    <!--main header content-->
	{% include "public_pages/includes/headerContent.html" %}
    <!--additional page specific styles-->
    <link rel="stylesheet" href="{{ url_for("static", filename="public/css/contact.css") }}">
</head>
<body>
<div class="page">
	<!--========================================================
	HEADER
	=========================================================-->
	<header role="banner">
		{% include "public_pages/includes/brand.html" %}
		<section class="bg-image-1" role="img" alt="An overhead shot over part of the park."></section>
		{% include "public_pages/includes/nav.html" %}
	</header>

	<!--========================================================
	MAIN
	=========================================================-->
	<main role="main">

		<section class="well-md text-center" aria-labelledby="contactHeader">
			<div class="container">
				<h2 id="contactHeader">Contact Us</h2>
				<form class="rd-mailform" id="form" role="form">
					<fieldset>
						<input type="text"
							id="name" 
							placeholder="Name"
							aria-label="Name"
							aria-required="true"
							aria-describedby="nameError"/>
						<p class="error-text" id="nameError">Please enter a name</p>
						<input type="text"
							id="email" 
							placeholder="Email"
							aria-label="Email"
							aria-required="true"
							aria-describedby="emailError"/>
						<p class="error-text" id="emailError">Please enter a valid email</p>
						<input type="text"
							id="phone" 
							placeholder="Phone (not required)"
							aria-label="Phone (not required)"
							aria-describedby="phoneError"/>
						<p class="error-text" id="phoneError">This phone number is invalid</p>
						<textarea
							id="message"
							placeholder="Message"
							aria-label="Message"
							aria-required="true"
							aria-describedby="messageError"></textarea>
						<p class="error-text" id="messageError">Please enter a message</p>
						<div class="mfControls">
							<button class="btn btn-primary btn-xl submit-button" type="submit">Send message</button>
						</div>
						<div class="mfInfo"></div>
					</fieldset>
				</form>
			</div>
		</section>

		<section class="well-md well-md--inset-2 bg-secondary-1" aria-label="Contact Information">
			<div class="container">
				<div class="row flow-offset-2">
					<div class="col-md-4">
						<!-- Box -->
						<div class='box box--mod-1'>
							<div class='box_left'>
								<div class="icon icon-md icon-secondary fa-map-marker"></div>
							</div>
							<!-- Contact Info -->
							<div class='box_cnt contact-info'>
								<dl>
									<dt>Address:</dt>
									<dd>
										<address><a href="/directions" target="_blank" class="contact-text" aria-label="Click here for directions to the FEC">3738 Parkwood Dr, Houston, Texas 77021, United States.</a></address>
									</dd>
								</dl>
							</div>
							<!-- END Contact Info -->
						</div>
						<!-- END Box -->
					</div>
					<div class="col-md-4">
						<!-- Box -->
						<div class='box box--mod-1'>
							<div class='box_left'>
								<div class="icon icon-md icon-secondary fa-phone"></div>
							</div>
							<!-- Contact Info -->
							<div class='box_cnt contact-info'>
								<dl>
									<dt>Telephone:</dt>
									<dd><a href="tel:{{ phone }}" class="contact-text" aria-label="Click here to call the FEC">{{ phone }}</a></dd>
								</dl>
							</div>
							<!-- END Contact Info -->
						</div>
						<!-- END Box -->
					</div>
					<div class="col-md-4">
						<!-- Box -->
						<div class='box box--mod-1'>
							<div class='box_left'>
								<div class="icon icon-md icon-secondary fa-envelope"></div>
							</div>
							<!-- Contact Info -->
							<div class='box_cnt contact-info'>
								<dl>
									<dt>E-mail:</dt>
									<dd><a href="mailto:{{ email }}" class="contact-text" aria-label="Click here to email the FEC"> {{ email }}</a></dd>
								</dl>
							</div>
							<!-- END Contact Info -->
						</div>
						<!-- END Box -->
					</div>
				</div>
			</div>
		</section>

		<!--========================================================
	    MODALS
	    =========================================================-->
		<div class="remodal" id="successModal" role="dialog" aria-labelledby="successHeader" aria-describedby="successBody">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1 style="color: #3e3e3e" id="successHeader">Success!</h1>
			<p id="successBody">
				Your message has been sent. It may take some time to receive a response.
			</p>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>

		<div class="remodal" id="failureModal" role="dialog" aria-labelledby="failureHeader" aria-describedby="failureBody">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1 style="color: #3e3e3e" id="failureHeader">Failure!</h1>
			<p id="failureBody">
				Your message failed to send. Please try again at a later time.
			</p>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>

	</main>

	<!--========================================================
    FOOTER
    =========================================================-->
	{% include "public_pages/includes/footer.html" %}
	
</div>

<script src="{{ url_for('static', filename='public/js/contact.js') }}"></script>
</body>
</html>