<!DOCTYPE html>
<html lang="en">
<head>
    <!--main header content-->
	{% include "public_pages/includes/headerContent.html" %}
</head>
<body>
<div class="page">
	<!--========================================================
	                          HEADER
	=========================================================-->
	<header>
        {% include "public_pages/includes/brand.html" %}

		<section class="bg-image-1"></section>

		{% include "public_pages/includes/nav.html" %}
	</header>
	<!--========================================================
	                          CONTENT
	=========================================================-->
	<main>
		<section class="bg-primary well-md well-md--inset-2 text-center">
			<div class="container-partial-fluid">
				<h2>5 Stars Snackbar</h2>
				<h5 class="menu-item-title">Entrees:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Cheese pizza</h6>
							<h6 class="price">5.00</h6>
							<br />
						</div>
						<p>Classic cheese pizza slice, tomato sauce and crispy white crust.</p>
					</li>
					<li>
						<div>
							<h6>Pepperoni pizza</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p>Classic pepperoni pizza slice, cheese and tomato sauce on crispy white crust.</p>
					</li>
					<li>
						<div>
							<h6>Grilled cheese</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p>Aged cheddar melted onto buttered toasted whole wheat slices topped with turkey breast.</p>
					</li>
					<li>
						<div>
							<h6>Cheeseburger</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p>American cheese, beef, tomato, lettuce, onion, choice of dressing.</p>
					</li>
					<li>
						<div>
							<h6>Hotdog</h6>
							<h6 class="price">4.00</h6>
							<br />
						</div>
						<p>Hotdog, chili, cheese, onions, mustard.</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Sides:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>French fries</h6>
							<h6 class="price">3.00</h6>
							<br />
						</div>
						<p>Salted fried potato strips.</p>
					</li>
					<li>
						<div>
							<h6>Onion rings</h6>
							<h6 class="price">4.00</h6>
							<br />
						</div>
						<p>Battered onion sliced into rings and deep fried.</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Drinks:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Water</h6>
							<h6 class="price">2.00</h6>
							<br />
						</div>
						<p>Bottled water.</p>
					</li>
					<li>
						<div>
							<h6>Coca-cola products</h6>
							<h6 class="price">3.00</h6>
							<br />
						</div>
						<p>Sprite, Diet Coke, Fanta, Powerade, Minute Maid Lemonade.</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="bg-secondary-1 well-md well-md--inset-2 text-center">
			<div class="container-partial-fluid">
				<h2>5 Stars Lounge</h2>
				<h5 class="menu-item-title">Salads:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Caesar Salad</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p>Romaine Lettuce, parmasean, crutons, ceasar dressing.</p>
					</li>
					<li>
						<div>
							<h6>Greek Salad</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p>Tomato, cucumber, onion, feta cheese, olives, green peppers, olives, olive oil.</p>
					</li>
					<li>
						<div>
							<h6>Seafood Salad</h6>
							<h6 class="price">12.00</h6>
							<br />
						</div>
						<p>Shrimp, squid, crab, peppers, celery, onions, olives, cornichon, parsley, choice of dressing.</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Sandwiches:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Italian</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p>Lettuce, tomato, Genoa salami, red onion, zucchini, and house made pesto on an artisan loaf.</p>
					</li>
					<li>
						<div>
							<h6>Fried Chicken</h6>
							<h6 class="price">7.00</h6>
							<br />
						</div>
						<p>Lettuce, tomato, and pan fried and breaded chicken on toasted whole wheat slices.</p>
					</li>
					<li>
						<div>
							<h6>Artisan Baguette</h6>
							<h6 class="price">7.00</h6>
							<br />
						</div>
						<p>Toasted baguette, aged cheddar and honey ham, a French classic.</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Drinks:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Beer and Wine</h6>
							<h6 class="price">3.00-7.00</h6>
							<br />
						</div>
						<p>Bud Light, Blue Moon, Budweiser, Pinot Grigio, Pinot Gris, Chardonnay.</p>
					</li>
				</ul>
			</div>
		</section>

	</main>
	{% include "public_pages/includes/footer.html" %}
</div>

{%include "public_pages/includes/scripts.html" %}
</body>
</html>