<!DOCTYPE html>
<html lang="en">
<head>
    <!--main header content-->
	{% include "public_pages/includes/headerContent.html" %}
    <link rel="stylesheet" href="{{ url_for("static", filename="public/css/food.css") }}">
</head>
<body>
<div class="page">
	<!--========================================================
	HEADER
	=========================================================-->
	<header role="banner">
        {% include "public_pages/includes/brand.html" %}

		<section class="bg-image-1" role="img" alt="An overhead shot over part of the park."></section>

		{% include "public_pages/includes/nav.html" %}
	</header>

	<!--========================================================
	MAIN
	=========================================================-->
	<main role="main">

		<section class="bg-primary well-md well-md--inset-2 text-center" aria-labelledby="snackbarHeader">
			<div class="container-partial-fluid">
				<h2 id="snackbarHeader">5 Stars Snackbar</h2>
				<h5 class="menu-item-title">Entrees:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Cheese pizza</h6>
							<h6 class="price">5.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Classic cheese pizza slice, tomato sauce and crispy white crust</p>
					</li>
					<li>
						<div>
							<h6>Pepperoni pizza</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Classic pepperoni pizza slice, cheese and tomato sauce on crispy white crust</p>
					</li>
					<li>
						<div>
							<h6>Grilled cheese</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Aged cheddar melted onto buttered toasted whole wheat slices topped with turkey breast</p>
					</li>
					<li>
						<div>
							<h6>Cheeseburger</h6>
							<h6 class="price">6.00</h6>
							<br />
						</div>
						<p class="menu-item-description">American cheese, beef, tomato, lettuce, onion, choice of dressing</p>
					</li>
					<li>
						<div>
							<h6>Hotdog</h6>
							<h6 class="price">4.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Hotdog, chili, cheese, onions, mustard</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Sides:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>French fries</h6>
							<h6 class="price">3.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Salted fried potato strips</p>
					</li>
					<li>
						<div>
							<h6>Onion rings</h6>
							<h6 class="price">4.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Battered onion sliced into rings and deep fried</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Drinks:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Water</h6>
							<h6 class="price">2.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Bottled water</p>
					</li>
					<li>
						<div>
							<h6>Coca-Cola products</h6>
							<h6 class="price">3.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Sprite, Diet Coke, Fanta, Powerade, Minute Maid Lemonade</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="bg-secondary-1 well-md well-md--inset-2 text-center" aria-labelledby="loungeHeader">
			<div class="container-partial-fluid">
				<h2 id="loungeHeader">5 Stars Lounge</h2>
				<h5 class="menu-item-title">Salads:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Caesar Salad</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Romaine Lettuce, Parmesan, croutons, ceasar dressing</p>
					</li>
					<li>
						<div>
							<h6>Greek Salad</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Tomato, cucumber, onion, feta cheese, olives, green peppers, olives, olive oil</p>
					</li>
					<li>
						<div>
							<h6>Seafood Salad</h6>
							<h6 class="price">12.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Shrimp, squid, crab, peppers, celery, onions, olives, cornichon, parsley, choice of dressing</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Sandwiches:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Italian</h6>
							<h6 class="price">8.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Lettuce, tomato, Genoa salami, red onion, zucchini, and house made pesto on an artisan loaf</p>
					</li>
					<li>
						<div>
							<h6>Fried Chicken</h6>
							<h6 class="price">7.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Lettuce, tomato, and pan fried chicken on toasted whole wheat slices</p>
					</li>
					<li>
						<div>
							<h6>Artisan Baguette</h6>
							<h6 class="price">7.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Toasted baguette, aged cheddar and honey ham, a French classic</p>
					</li>
				</ul>
				<h5 class="menu-item-title">Drinks:</h5>
				<ul class="marked-list text-left">
					<li>
						<div>
							<h6>Beer and Wine</h6>
							<h6 class="price">3.00-7.00</h6>
							<br />
						</div>
						<p class="menu-item-description">Bud Light, Blue Moon, Budweiser, Pinot Grigio, Pinot Gris, Chardonnay</p>
					</li>
				</ul>
			</div>
		</section>
		
	</main>

	<!--========================================================
    FOOTER
    =========================================================-->
	{% include "public_pages/includes/footer.html" %}
	
</div>

<script src="{{ url_for("static", filename="public/js/food.js") }}"></script>
</body>
</html>