<!DOCTYPE html>
<html lang="en">
<head>
	<title>Attractions</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<link href='css/font-awesome.css' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=Playball%7CComfortaa:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script> 

	<!--[if lt IE 9]> 
	<html class="lt-ie9">
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://windows.microsoft.com/en-US/internet-explorer/..">
			<img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
					 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
		</a>
	</div>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

	<script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
	<!--========================================================
	                          HEADER
	=========================================================-->
	<header>
		<section class="bg-primary text-center">
			<div class="container">
				<!-- Brand -->
				<div class="brand">
					<a class="brand_name" href="./">Vanilla</a>
					<div class="brand_slogan">Water park</div>
				</div>
				<!-- END Brand -->
			</div>
		</section>

		<section class="bg-image-1"></section>

		<section>
			<!-- Stuck Container -->
			<div id="stuck_container" class="stuck_container">
				<div class="container">
					<!-- Menu  -->
					<nav class="nav">
						<ul class="sf-menu" data-type="navbar">
							<li><a href='./'>Home</a></li>
							<li><a href='index-1.html'>Park info</a>
								<ul>
									<li><a href="#">General Info</a></li>
									<li><a href="#">Hours</a></li>
									<li><a href="#">Programs</a>
										<ul>
											<li><a href="#">Water babies</a></li>
											<li><a href="#">Sea sprites</a></li>
											<li><a href="#">Swim stars</a></li>
											<li><a href="#">Junior camp</a></li>
										</ul>
									</li>
									<li><a href="#">Parking</a></li>
								</ul>
							</li>
							<li><a href='index-2.html'>Packages</a></li>
							<li class="active"><a href='index-3.html'>Attractions</a></li>
							<li><a href='index-4.html'>Contacts</a></li>
						</ul>
					</nav>
					<!-- END Menu -->
				</div>
			</div>
			<!-- END Stuck Container -->
		</section>

	</header>
	<!--========================================================
	                          CONTENT
	=========================================================-->
	<main>
		<section class="well-md bg-secondary-1 text-center">
			<div class="container text-center">
				<h2>Park map</h2>
				<img src="images/page-04_img01.jpg" alt="">
				<h4>Deep River Waterpark Attractions and Amenities Map.</h4>
			</div>
		</section>

		<section class="well-md well-md--inset-2 text-center">
			<div class="container">
				<h2>Our attractions</h2>
				<div class="row offset-4 flow-offset-2 text-center text-sm-left">
					
					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img02.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Cape Fear</a></h4>
						<p>Cape Fear screams from a 30-foot-high platform through a darkened tunnel for a length of 215 feet, using single or double inflated tubes.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img03.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Fun-L-Tunnel</a></h4>
						<p>The Fun-L-Tunnel is a slide on the wild side. This narrow darkened tunnel drops 30 feet without a tube.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img04.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Zoom Flume</a></h4>
						<p>It descends from the same 30-foot-high tower as the Cape Fear and Fun-L-Tunnel and goes on for 200 feet.</p>
					</div>

					<div class="col-sm-6 col-md-clear col-md-4">
						<img src="images/page-04_img05.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Drop-Slides</a></h4>
						<p>The Drop Slides offer a thrill factor by giving guests a similar feeling to free falling with nothing in the way to slow you down.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img06.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Ecological Boardwalk</a></h4>
						<p>Located along the shores of beautiful Lake Kennedy, the Ecological Boardwalk is a terrific place to take a walk and enjoy nature.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img07.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Family Pool</a></h4>
						<p>Whether you float in from the Main Stream River or take advantage of our zero-depth entrance, the Family Pool is a great place to cool off and have fun.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img08.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Pro Racers</a></h4>
						<p>These child-sized slides are not as scary as the big rides giving little ones a chance to enjoy thrills made especially for them</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img09.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Electric Slide</a></h4>
						<p>The Electric Slide drops five stories, twisting and turning for 457 feet, sending riders on a 27-second plunge into its own pool.</p>
					</div>

					<div class="col-sm-6 col-md-4">
						<img src="images/page-04_img10.jpg" alt="">
						<h4 class="secondary-1"><a href="#">Thunder Bump</a></h4>
						<p>The longest of three, high-speed slides and features several steep bumps that give guests the feeling of going airborne.</p>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!--========================================================
	                          FOOTER
	=========================================================-->
	<footer class="bg-primary text-center">
		<div class="container">
			<!-- Inline List -->
			<ul class="inline-list">
			  <li><a href="#" class="icon icon-lg icon-secondary-2 fa-twitter"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-facebook"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-google-plus"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-instagram"></a></li>
			</ul>
			<!-- END Inline List -->
			<div class="offset-2">
				<a href="./">Vanilla</a>
				 &copy; <span id="copyright-year">2016</span> |
				<a href="index-5.html">Privacy Policy</a>
			</div>
		</div>
	</footer>
</div>

<script src="js/script.js"></script>
</body>
</html>