<!DOCTYPE html>
<html lang="en">
<head>
	<title>Park info</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<link href='css/font-awesome.css' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=Playball%7CComfortaa:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script> 

	<!--[if lt IE 9]> 
	<html class="lt-ie9">
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://windows.microsoft.com/en-US/internet-explorer/..">
			<img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
					 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
		</a>
	</div>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

	<script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
	<!--========================================================
	                          HEADER
	=========================================================-->
	<header>
		<section class="bg-primary text-center">
			<div class="container">
				<!-- Brand -->
				<div class="brand">
					<a class="brand_name" href="./">Vanilla</a>
					<div class="brand_slogan">Water park</div>
				</div>
				<!-- END Brand -->
			</div>
		</section>

		<section class="bg-image-1"></section>

		<section>
			<!-- Stuck Container -->
			<div id="stuck_container" class="stuck_container">
				<div class="container">
					<!-- Menu  -->
					<nav class="nav">
						<ul class="sf-menu" data-type="navbar">
							<li><a href='./'>Home</a></li>
							<li class="active"><a href='index-1.html'>Park info</a>
								<ul>
									<li><a href="#">General Info</a></li>
									<li><a href="#">Hours</a></li>
									<li><a href="#">Programs</a>
										<ul>
											<li><a href="#">Water babies</a></li>
											<li><a href="#">Sea sprites</a></li>
											<li><a href="#">Swim stars</a></li>
											<li><a href="#">Junior camp</a></li>
										</ul>
									</li>
									<li><a href="#">Parking</a></li>
								</ul>
							</li>
							<li><a href='index-2.html'>Packages</a></li>
							<li><a href='index-3.html'>Attractions</a></li>
							<li><a href='index-4.html'>Contacts</a></li>
						</ul>
					</nav>
					<!-- END Menu -->
				</div>
			</div>
			<!-- END Stuck Container -->
		</section>

	</header>
	<!--========================================================
	                          CONTENT
	=========================================================-->
	<main>
		<section class="well-md bg-secondary-1 text-center">
			<div class="container">
				<h2>About Vanilla</h2>
				<div class="row offset-3 flow-offset-1">

					<div class="col-lg-6">
						<div class="image-wrap">
							<img src="images/page-02_img01.jpg" alt="">
						</div>
					</div>

					<div class="col-lg-6 text-left">
						<h4>Located in the heart of Orlando and celebrating 125 years of fun, Vanilla is America’s only Downtown Theme and Water Park. The park is open May 2nd through November 1st.</h4>
						<p>There’s something for everyone, with 53 rides and attractions, including 14 pint-sized adventures, thrilling roller coasters and an entire water park. This year, there’s more entertainment than ever before with exciting new family shows Conjure and Disney’s Octonauts, Dive-In Movies, a free summer concert series and three stunning fireworks extravaganza that will light up the Orlando skyline, plus Fright Fest in October! <br>And don’t miss the breathtaking views of Orlando atop the 20-story Observation Tower or while plummeting 200 feet on the Tower of Doom.</p>
						<h3>Tickets & Season Passes</h3>
						<p>Start planning your fun in advance! Vanilla 2016 Season Passes are on sale now! <a href="#">Buy your tickets online and save.</a></p>
						<h3>Park Hours</h3>
						<p>Make sure you have enough time to enjoy everything you want to do. <br class="hided"><a href="#">View the Park Hours.</a></p>
						<h3>Park Map</h3>
						<p>From dining options, rides, restrooms and shopping, <a href="#">view Vanilla Park Map</a> to help lead you through our park.</p>
					</div>

				</div>
			</div>
		</section>

		<section class="well-md bg-secondary-2 text-center">
			<div class="container">
				<div class="row flow-offset-1">

					<div class="col-sm-6 col-md-3">
						<img class="circle" src="images/page-02_img02.jpg" alt="">
						<h3><a href="#">For Guests</a></h3>
						<p>Guest Relations is located outside of the park by the ticket booths and inside the park next to the Carousel.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img class="circle" src="images/page-02_img03.jpg" alt="">
						<h3><a href="#">Dining</a></h3>
						<p>Have a hankering for some barbecue goodness? Or are you more of a funnel cake type of person?</p>
					</div>

					<div class="col-sm-clear col-sm-6 col-md-release col-md-3">
						<img class="circle" src="images/page-02_img04.jpg" alt="">
						<h3><a href="#">Shopping</a></h3>
						<p>Get in some shopping while you’re enjoying Vanilla & Water Park.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img class="circle" src="images/page-02_img05.jpg" alt="">
						<h3><a href="#">Vip Experience</a></h3>
						<p>Make sure it’s awesome to be a VIP at Vanilla with its Rapid Rides Passes and VIP packages.</p>
					</div>

				</div>
			</div>
		</section>

		<section class="well-md well-md--inset-3 text-center">
			<div class="container">
				<h2>Our team</h2>
				<div class="row offset-3 flow-offset-1 text-center text-md-left">
					
					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img06.jpg" alt="">
						<h4>Sean Damon</h4>
						<h6>Chief Operating Officer</h6>
						<p>Sean is responsible for the daily operation of the company and routinely reports to the highest ranking executive.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img07.jpg" alt="">
						<h4>Tom Gene</h4>
						<h6>Company founder</h6>
						<p>Tom is the entrepreneur who started this business and keeps his on it.</p>
					</div>

					<div class="col-sm-clear col-sm-6 col-md-release col-md-3">
						<img src="images/page-02_img08.jpg" alt="">
						<h4>Amanda Easter</h4>
						<h6>Sr. Recruiter</h6>
						<p>Amanda is a highly skilled talent acquisition professional with 10 years experience in a constantly changing employment market.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img09.jpg" alt="">
						<h4>Heather Wayne</h4>
						<h6>Office Manager</h6>
						<p>Heather is a business professional responsible for a diverse set of administrative tasks.</p>
					</div>

					<div class="col-sm-clear col-sm-6 col-md-3">
						<img src="images/page-02_img10.jpg" alt="">
						<h4>Olivia Drake</h4>
						<h6>Social Media Specialist</h6>
						<p>Olivia oversees and implements the organization’s social media activities and its hyperlocal news gathering projects.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img11.jpg" alt="">
						<h4>Michael Rat</h4>
						<h6>Data Analyst</h6>
						<p>Michael is responsible for obtaining, analyzing, and reporting on data ranging from business metrics to user behavior and product performance.</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img12.jpg" alt="">
						<h4>Tom Teen</h4>
						<h6>Project Manager</h6>
						<p>Tom bears responsibility of the planning, execution and closing of all company projects</p>
					</div>

					<div class="col-sm-6 col-md-3">
						<img src="images/page-02_img13.jpg" alt="">
						<h4>Melanie Bloom</h4>
						<h6>Creative Director</h6>
						<p>Melanie is an irreplaceable person in any product development process. She also assumes the roles of an art director, copywriter, and lead designer.</p>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!--========================================================
	                          FOOTER
	=========================================================-->
	<footer class="bg-primary text-center">
		<div class="container">
			<!-- Inline List -->
			<ul class="inline-list">
			  <li><a href="#" class="icon icon-lg icon-secondary-2 fa-twitter"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-facebook"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-google-plus"></a></li>
				<li><a href="#" class="icon icon-lg icon-secondary-2 fa-instagram"></a></li>
			</ul>
			<!-- END Inline List -->
			<div class="offset-2">
				<a href="./">Vanilla</a>
				 &copy; <span id="copyright-year">2016</span> |
				<a href="index-5.html">Privacy Policy</a>
			</div>
		</div>
	</footer>
</div>

<script src="js/script.js"></script>
</body>
</html>