<!DOCTYPE html>
<html lang="en">

<head>
	<!--main header content-->
	{% include "public_pages/includes/headerContent.html" %}
	<link rel="stylesheet" href="{{ url_for("static", filename="public/css/reservations.css") }}">
</head>

<body>
<div class="page">
	<!--========================================================
	HEADER
	=========================================================-->
	<header role="banner">
		{% include "public_pages/includes/brand.html" %}
		<section class="bg-image-1" role="img" alt="An overhead shot over part of the park."></section>
		{% include "public_pages/includes/nav.html" %}
	</header>

	<!--========================================================
	MAIN
	=========================================================-->
	<main class="remodal-bg" role="main">

		<section class="well-md well-md--inset-2 text-center bg-secondary-2 packages-holder" aria-labelledby="packagesHeader">
			<div class="container-partial-fluid">
				<h2 id="packagesHeader">Packages</h2>
				<h6>*Individual tickets cost $50 per person</h6>
				<div class="row offset-4 flow-offset-2 text-center text-sm-left auto-clear">
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Basic Package</h3>
							<p class="text-left">Price: <br />$200 for a party of 5 <br />$30 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>2 Attraction passes per participant</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Deluxe Package</h3>
							<p class="text-left">Price: <br />$300 for a party of 5 <br />$30 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>3 Attraction passes per participant</li>
								<li>Free 5 Stars T-Shirt</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Ultimate Blast Package</h3>
							<p class="text-left">Price: <br />$400 for a party of 5 <br />$30 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>5 Attraction passes per participant</li>
								<li>Free meal voucher for each participant</li>
								<li>5 Stars T-Shirt and 5 Stars water bottle</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Party Package</h3>
							<p class="text-left">Price: <br />$450 for a party of 10 <br />$20 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>Free parking</li>
								<li>Party lounge access</li>
								<li>Party themed photos</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Holiday Package</h3>
							<p class="text-left">Price: <br />$250 for a party of 5 <br />$20 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>2 Attraction passes per participant</li>
								<li>Holiday themed 5 Stars t-shirt</li>
								<li>Holiday themed photos</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class='box_cnt'>
							<h3>Behind the Scenes Package</h3>
							<p class="text-left">Price: <br />$350 for a party of 5 <br />$40 for each additional person</p>
							<ul class="marked-list text-left white">
								<li>All-day park access</li>
								<li>3 Attraction passes per participant</li>
								<li>Behind the scenes tour of the 5 Stars facility</li>
							</ul>
							<!-- END Marked List -->
						</div>
					</div>
				</div>
				<h6 class="grey-color quick-message">*please call if your party size is greater than one hundred people</h6>
				<a href="#modal" id="modalOpen" class="btn btn-lg btn-primary btn-xl">Make a reservation</a>
			</div>
		</section>

		<!--========================================================
	    MODALS
	    =========================================================-->
		<div id="modal" role="dialog" aria-labelledby="reservationTitle">
			<div class="modal-content">
				<div class="container" style="margin-top: 55px">
					<h2 id="reservationTitle">Make a reservation</h2>
					<p>*We are not taking payments because this is not a real company.</p>
					<form class="rd-mailform package-pricing" id="form" role="form">
						<input type="hidden" name="form-type" value="contact"/>
						<fieldset>
							<input type="text" placeholder="Party name" id="name" aria-label="Party name" aria-required="true" aria-describedby="nameError" />
							<p class="error-text" id="nameError">Please enter a valid name</p>
							<input type="text" placeholder="Reservation date" id="date" aria-label="Reservation date" aria-required="true" aria-describedby="dateError" />
							<p class="error-text" id="dateError">Please select a date</p>
							<input type="number" placeholder="Number of people in party" id="people" aria-label="Number of people in party" aria-required="true" aria-describedby="peopleError" />
							<p class="error-text" id="peopleError">Please enter a valid number of people</p>
							<select id="package" aria-label="Select a package" aria-required="true" aria-describedby="packageError">
								<option disabled value="" selected>Select a package</option>
								<option value="none">No package</option>
								<option value="1">Basic Package</option>
								<option value="2">Deluxe Package</option>
								<option value="3">Ultimate Blast Package</option>
								<option value="4">Party Package</option>
								<option value="5">Holiday Package</option>
								<option value="6">Behind the Scenes Package</option>
							</select>
							<p class="error-text" id="packageError">Please select a package</p>
							<input type="phone" placeholder="Phone number" id="phone" aria-label="Phone number" aria-required="true" aria-describedby="phoneError" />
							<p class="error-text" id="phoneError">Please enter a valid phone number</p>
							<input type="email" placeholder="Email" id="email" aria-label="Email" aria-required="true" aria-describedby="emailError" />
							<p class="error-text" id="emailError">Please enter a valid email</p>
							<textarea placeholder="Additional details (not required)" id="details" aria-label="Additional details (not required)" ></textarea>
							<div class="mfControls buttonHolder">
								<h3 class="orderPrice">Price: <span id="priceValue">$0</span></h3>
								<span class="close-modal">
								<a href="#" class="btn btn-primary btn-md cancel-button" id="cancelButton">Cancel</a>
								</span>
								<button class="btn btn-primary btn-md submit-button" type="submit">Send message</button>
							</div>
							<div class="mfInfo"></div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

		<div class="remodal" id="successModal" role="dialog" aria-labelledby="successHeader" aria-describedby="successBody">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1 style="color: #3e3e3e" id="successHeader">Success!</h1>
			<p id="successBody">
				Your reservation has been made. Please show your card to attendants when you arrive at the park to redeem your tickets.
			</p>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>

		<div class="remodal" id="failureModal" role="dialog" aria-labelledby="failureHeader" aria-describedby="failureBody">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1 style="color: #3e3e3e" id="failureHeader">Failure!</h1>
			<p id="failureBody">
				Your reservation failed to be placed because we are not open on that day.
			</p>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>

		<div class="remodal" id="fullModal" role="dialog" aria-labelledby="fullHeader" aria-describedby="fullBody">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1 style="color: #3e3e3e" id="fullHeader">Oops!</h1>
			<p id="fullBody">
				We're fully booked for this day. Try rescheduling for another time.
			</p>
			<br>
			<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
		</div>

	</main>

	<!--========================================================
    FOOTER
    =========================================================-->
	{% include "public_pages/includes/footer.html" %}

</div>

<script>
    var today = new Date((new Date()).valueOf());
    var daysAllowed = [{from:[0,0,0],to:today}, {% for day in badDays %}{% if not loop.last %}{{day["id"]}},{% else %}{{day["id"]}}{% endif %}{% endfor %}]
</script>
<script src="{{ url_for("static", filename="public/js/reservations.js") }}"></script>
</body>
</html>